[submodule "ace-window"]
	path = emacs/.emacs.d/lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "almost-mono-themes"]
	path = emacs/.emacs.d/lib/almost-mono-themes
	url = git@github.com:cryon/almost-mono-themes.git
[submodule "anaconda-mode"]
	path = emacs/.emacs.d/lib/anaconda-mode
	url = git@github.com:pythonic-emacs/anaconda-mode.git
[submodule "apropospriate-theme"]
	path = emacs/.emacs.d/lib/apropospriate-theme
	url = git@github.com:waymondo/apropospriate-theme.git
[submodule "auto-compile"]
	path = emacs/.emacs.d/lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = emacs/.emacs.d/lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "avy-migemo"]
	path = emacs/.emacs.d/lib/avy-migemo
	url = git@github.com:momomo5717/avy-migemo.git
[submodule "back-button"]
	path = emacs/.emacs.d/lib/back-button
	url = git@github.com:rolandwalker/back-button.git
[submodule "basic-theme"]
	path = emacs/.emacs.d/lib/basic-theme
	url = git@github.com:fgeller/basic-theme.el.git
[submodule "beacon"]
	path = emacs/.emacs.d/lib/beacon
	url = git@github.com:Malabarba/beacon.git
[submodule "beginend"]
	path = emacs/.emacs.d/lib/beginend
	url = git@github.com:DamienCassou/beginend.git
[submodule "berrys-theme"]
	path = emacs/.emacs.d/lib/berrys-theme
	url = git@github.com:vbuzin/berrys-theme.git
[submodule "borg"]
	path = emacs/.emacs.d/lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = emacs/.emacs.d/lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "comment-dwim-2"]
	path = emacs/.emacs.d/lib/comment-dwim-2
	url = git@github.com:remyferre/comment-dwim-2.git
[submodule "company"]
	path = emacs/.emacs.d/lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-anaconda"]
	path = emacs/.emacs.d/lib/company-anaconda
	url = git@github.com:pythonic-emacs/company-anaconda.git
[submodule "consult"]
	path = emacs/.emacs.d/lib/consult
	url = git@github.com:minad/consult.git
[submodule "dash"]
	path = emacs/.emacs.d/lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "ddskk"]
	path = emacs/.emacs.d/lib/ddskk
	url = git@github.com:skk-dev/ddskk.git
[submodule "deadgrep"]
	path = emacs/.emacs.d/lib/deadgrep
	url = git@github.com:Wilfred/deadgrep.git
[submodule "diff-hl"]
	path = emacs/.emacs.d/lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "dired-hacks"]
	path = emacs/.emacs.d/lib/dired-hacks
	url = git@github.com:Fuco1/dired-hacks.git
[submodule "easy-kill"]
	path = emacs/.emacs.d/lib/easy-kill
	url = git@github.com:leoliu/easy-kill.git
[submodule "emacsql"]
	path = emacs/.emacs.d/lib/emacsql
	url = git@github.com:skeeto/emacsql.git
[submodule "epkg"]
	path = emacs/.emacs.d/lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "f"]
	path = emacs/.emacs.d/lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "flycheck"]
	path = emacs/.emacs.d/lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "goto-chg"]
	path = emacs/.emacs.d/lib/goto-chg
	url = git@github.com:emacs-evil/goto-chg.git
[submodule "grugru"]
	path = emacs/.emacs.d/lib/grugru
	url = git@github.com:ROCKTAKEY/grugru.git
[submodule "hiwin"]
	path = emacs/.emacs.d/lib/hiwin
	url = git@github.com:yoshida-mediba/hiwin-mode.git
[submodule "https://github.com/zk-phi/setup"]
	path = emacs/.emacs.d/lib/https:/github.com/zk-phi/setup
	url = https://github.com/zk-phi/setup
[submodule "iedit"]
	path = emacs/.emacs.d/lib/iedit
	url = git@github.com:victorhge/iedit.git
[submodule "indent-guide"]
	path = emacs/.emacs.d/lib/indent-guide
	url = git@github.com:zk-phi/indent-guide.git
[submodule "key-chord"]
	path = emacs/.emacs.d/lib/key-chord
	url = git@github.com:emacsorphanage/key-chord.git
[submodule "libgit"]
	path = emacs/.emacs.d/lib/libgit
	url = git@github.com:magit/libegit2.git
[submodule "loccur"]
	path = emacs/.emacs.d/lib/loccur
	url = git@github.com:fourier/loccur.git
[submodule "magic-latex-buffer"]
	path = emacs/.emacs.d/lib/magic-latex-buffer
	url = git@github.com:zk-phi/magic-latex-buffer.git
[submodule "marginalia"]
	path = emacs/.emacs.d/lib/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "migemo"]
	path = emacs/.emacs.d/lib/migemo
	url = git@github.com:emacs-jp/migemo.git
[submodule "minions"]
	path = emacs/.emacs.d/lib/minions
	url = git@github.com:tarsius/minions.git
[submodule "monotropic-theme"]
	path = emacs/.emacs.d/lib/monotropic-theme
	url = git@github.com:caffo/monotropic-theme.git
[submodule "moody"]
	path = emacs/.emacs.d/lib/moody
	url = git@github.com:tarsius/moody.git
[submodule "mwim"]
	path = emacs/.emacs.d/lib/mwim
	url = git@github.com:alezost/mwim.el.git
[submodule "noccur"]
	path = emacs/.emacs.d/lib/noccur
	url = git@github.com:NicolasPetton/noccur.el.git
[submodule "nyan-mode"]
	path = emacs/.emacs.d/lib/nyan-mode
	url = git@github.com:TeMPOraL/nyan-mode.git
[submodule "orderless"]
	path = emacs/.emacs.d/lib/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "packed"]
	path = emacs/.emacs.d/lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "page-break-lines"]
	path = emacs/.emacs.d/lib/page-break-lines
	url = git@github.com:purcell/page-break-lines.git
[submodule "paper-theme"]
	path = emacs/.emacs.d/lib/paper-theme
	url = git@github.com:emacsmirror/paper-theme.git
[submodule "peep-dired"]
	path = emacs/.emacs.d/lib/peep-dired
	url = git@github.com:asok/peep-dired.git
[submodule "pipenv"]
	path = emacs/.emacs.d/lib/pipenv
	url = git@github.com:pwalsh/pipenv.el.git
[submodule "popup"]
	path = emacs/.emacs.d/lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "pp-c-l"]
	path = emacs/.emacs.d/lib/pp-c-l
	url = git@github.com:emacsmirror/pp-c-l.git
[submodule "pythonic"]
	path = emacs/.emacs.d/lib/pythonic
	url = git@github.com:pythonic-emacs/pythonic.git
[submodule "quick-preview"]
	path = emacs/.emacs.d/lib/quick-preview
	url = git@github.com:emacsattic/quick-preview.git
[submodule "rainbow-delimiters"]
	path = emacs/.emacs.d/lib/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "rich-minority"]
	path = emacs/.emacs.d/lib/rich-minority
	url = git@github.com:Malabarba/rich-minority.git
[submodule "rpn-calc"]
	path = emacs/.emacs.d/lib/rpn-calc
	url = git@github.com:zk-phi/rpn-calc.git
[submodule "runner"]
	path = emacs/.emacs.d/lib/runner
	url = git@github.com:thamer/runner.git
[submodule "s"]
	path = emacs/.emacs.d/lib/s
	url = git@github.com:magnars/s.el.git
[submodule "smart-mode-line"]
	path = emacs/.emacs.d/lib/smart-mode-line
	url = git@github.com:Malabarba/smart-mode-line.git
[submodule "spinner"]
	path = emacs/.emacs.d/lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "sublimity"]
	path = emacs/.emacs.d/lib/sublimity
	url = git@github.com:zk-phi/sublimity.git
[submodule "tangotango-theme"]
	path = emacs/.emacs.d/lib/tangotango-theme
	url = git@github.com:juba/color-theme-tangotango.git
[submodule "tao-theme"]
	path = emacs/.emacs.d/lib/tao-theme
	url = git@github.com:11111000000/tao-theme-emacs.git
[submodule "total-lines"]
	path = emacs/.emacs.d/lib/total-lines
	url = git@github.com:hinrik/total-lines.git
[submodule "transient"]
	path = emacs/.emacs.d/lib/transient
	url = git@github.com:magit/transient.git
[submodule "undohist"]
	path = emacs/.emacs.d/lib/undohist
	url = git@github.com:emacsorphanage/undohist.git
[submodule "vertico"]
	path = emacs/.emacs.d/lib/vertico
	url = git@github.com:minad/vertico.git
[submodule "viewer"]
	path = emacs/.emacs.d/lib/viewer
	url = git@github.com:rubikitch/viewer.git
[submodule "visible-mark"]
	path = emacs/.emacs.d/lib/visible-mark
	url = git@github.com:emacsmirror/visible-mark.git
[submodule "visual-fill-column"]
	path = emacs/.emacs.d/lib/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
[submodule "visual-regexp"]
	path = emacs/.emacs.d/lib/visual-regexp
	url = git@github.com:benma/visual-regexp.el.git
[submodule "visual-regexp-steroids"]
	path = emacs/.emacs.d/lib/visual-regexp-steroids
	url = git@github.com:benma/visual-regexp-steroids.el.git
[submodule "which-key"]
	path = emacs/.emacs.d/lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = emacs/.emacs.d/lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "zenburn-theme"]
	path = emacs/.emacs.d/lib/zenburn-theme
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "zop-to-char"]
	path = emacs/.emacs.d/lib/zop-to-char
	url = git@github.com:thierryvolpiatto/zop-to-char.git
