#ignore /emacs/.emacs.d/straight
/emacs/.emacs.d/straight/
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/eshell
/emacs/.emacs.d/var/
/emacs/.emacs.d/url/
/emacs/.emacs.d/thumbs/
/emacs/.emacs.d/transient
/emacs/.emacs.d/undo-fu-session/
/emacs/.emacs.d/eln-cache
.mc-list.el
.DS_Store
*.elc
*.eln
.recentf
recentf
smex-items
runner-conf.el
places
.mc-lists.el
/emacs/.emacs.d/persist/
/emacs/.emacs.d/.cache/
/emacs/.emacs.d/request
.persistent-scratch
projectile-bookmarks.eld
/emacs/.emacs.d/elisp-objects/

*\~
#ignore fish file
/fish/.config/fish/completions/
/fish/.config/fish/conf.d/
/fish/.config/fish/functions/
fish_variables
fishfile
filepos_history
search_history
#*#
skk/#.skk#

emacs/.emacs.d/undohist/

emacs/.emacs.d/el-get/

emacs/.emacs.d/anaconda-mode/

emacs/.emacs.d/elpa/

emacs/.emacs.d/server/

emacs/.emacs.d/bookmarks

emacs/.emacs.d/.emacs.desktop.lock

emacs/.emacs.d/.emacs.desktop
